# nix build output symlinks
/result
/result-*

TODO.md

# uctakeoff.vscode-counter
.VSCodeCounter

# fcitx5
chezmoi/dot_config/fcitx5/conf/cached_layouts
chezmoi/dot_config/fcitx5/conf/chttrans.conf
chezmoi/dot_config/fcitx5/conf/notifications.conf
chezmoi/dot_config/fcitx5/conf/punctuation.conf

# lunarvim
chezmoi/dot_config/lvim/lazy-lock.json

# godot
chezmoi/dot_config/godot/recent_dirs

# qBittorrent
chezmoi/dot_config/qBittorrent/rss
chezmoi/dot_config/qBittorrent/lockfile
chezmoi/dot_config/qBittorrent/ipc-socket
chezmoi/dot_config/qBittorrent/qBittorrent-data.conf

# wireshark
chezmoi/dot_config/wireshark/recent_common
chezmoi/dot_config/wireshark/recent
chezmoi/dot_config/wireshark/decode_as_entries
