# fcitx5
dotfiles/.config/fcitx5/conf/cached_layouts
dotfiles/.config/fcitx5/conf/chttrans.conf
dotfiles/.config/fcitx5/conf/notifications.conf
dotfiles/.config/fcitx5/conf/punctuation.conf

# lunarvim
dotfiles/.config/lvim/lazy-lock.json

# godot
dotfiles/.config/godot/recent_dirs

# uctakeoff.vscode-counter
.VSCodeCounter
