# Extcap configuration file for Wireshark 4.6.5.
#
# This file is regenerated each time preferences are saved within
# Wireshark. Making manual changes should be safe, however.
# Preferences that have been commented out have not been
# changed from their default value.

####### Extcap Utilities ########

# Save arguments on start of capture
# true or false (case-insensitive)
#extcap.gui_save_on_start: TRUE

# Remote SSH server address
# A string
#extcap.ciscodump.remotehost: 

# Remote SSH server port
# A string
#extcap.ciscodump.remoteport: 22

# Remote SSH server username
# A string
#extcap.ciscodump.remoteusername: glaumar

# Remote SSH server password
# Password (never stored on disk)
#extcap.ciscodump.remotepassword: 

# Path to SSH private key
# A string
#extcap.ciscodump.sshkey: 

# ProxyCommand
# A string
#extcap.ciscodump.proxycommand: 

# Support SHA-1 keys (deprecated)
# A string
#extcap.ciscodump.sshsha1: 

# Remote interface
# A string
#extcap.ciscodump.remoteinterface: 

# Remote capture filter
# A string
#extcap.ciscodump.remotefilter: deny tcp host fe80::a8ca:41ff:fe1c:3663 any eq 22, deny tcp any eq 22 host fe80::a8ca:41ff:fe1c:3663, deny tcp host fe80::ecee:eeff:feee:eeee any eq 22, deny tcp any eq 22 host fe80::ecee:eeff:feee:eeee, deny tcp host fe80::c53f:be4e:e3fe:310b any eq 22, deny tcp any eq 22 host fe80::c53f:be4e:e3fe:310b, deny tcp host 192.168.28.33 any eq 22, deny tcp any eq 22 host 192.168.28.33, permit ip any any

# Packets to capture
# A string
#extcap.ciscodump.remotecount: 

# Set the log level
# A string
#extcap.ciscodump.loglevel: 

# Use a file for logging
# A string
#extcap.ciscodump.logfile: 

# Interface index
# A string
#extcap.dpauxmon.interface_id: 0

# Set the log level
# A string
#extcap.dpauxmon.loglevel: 

# Use a file for logging
# A string
#extcap.dpauxmon.logfile: 

# Max bytes in a packet
# A string
#extcap.randpkt.maxbytes: 5000

# Number of packets
# A string
#extcap.randpkt.count: 1000

# Packet delay (ms)
# A string
#extcap.randpkt.delay: 0

# Random type
# A string
#extcap.randpkt.randomtype: false

# All random packets
# A string
#extcap.randpkt.allrandom: false

# Type of packet
# A string
#extcap.randpkt.type: 

# Set the log level
# A string
#extcap.randpkt.loglevel: 

# Use a file for logging
# A string
#extcap.randpkt.logfile: 

# Starting position
# A string
#extcap.sdjournal.startfrom: 

# Set the log level
# A string
#extcap.sdjournal.loglevel: 

# Use a file for logging
# A string
#extcap.sdjournal.logfile: 

# Remote SSH server address
# A string
#extcap._sshdump_wrapped.remotehost: 

# Remote SSH server port
# A string
#extcap._sshdump_wrapped.remoteport: 22

# Remote SSH server username
# A string
#extcap._sshdump_wrapped.remoteusername: 

# Remote SSH server password
# Password (never stored on disk)
#extcap._sshdump_wrapped.remotepassword: 

# Path to SSH private key
# A string
#extcap._sshdump_wrapped.sshkey: 

# SSH key passphrase
# Password (never stored on disk)
#extcap._sshdump_wrapped.sshkeypassphrase: 

# ProxyCommand
# A string
#extcap._sshdump_wrapped.proxycommand: 

# Support SHA-1 keys (deprecated)
# A string
#extcap._sshdump_wrapped.sshsha1: 

# Remote interface
# A string
#extcap._sshdump_wrapped.remoteinterface: 

# Remote capture command selection
# A string
#extcap._sshdump_wrapped.remotecapturecommandselect: 

# Remote capture command
# A string
#extcap._sshdump_wrapped.remotecapturecommand: 

# Gain capture privilege on the remote machine
# A string
#extcap._sshdump_wrapped.remotepriv: 

# Privileged user name for sudo or doas
# A string
#extcap._sshdump_wrapped.remoteprivuser: 

# No promiscuous mode
# A string
#extcap._sshdump_wrapped.remotenoprom: 

# Remote capture filter
# A string
#extcap._sshdump_wrapped.remotefilter: not ((host fe80::a8ca:41ff:fe1c:3663 or host fe80::ecee:eeff:feee:eeee or host fe80::c53f:be4e:e3fe:310b or host 192.168.28.33) and port 22)

# Packets to capture
# A string
#extcap._sshdump_wrapped.remotecount: 0

# Set the log level
# A string
#extcap._sshdump_wrapped.loglevel: 

# Use a file for logging
# A string
#extcap._sshdump_wrapped.logfile: 

# Listen port
# A string
#extcap.udpdump.port: 5555

# Payload type
# A string
#extcap.udpdump.payload: data

# Set the log level
# A string
#extcap.udpdump.loglevel: 

# Use a file for logging
# A string
#extcap.udpdump.logfile: 

# Remote SSH server address
# A string
#extcap._wifidump_wrapped.remotehost: 

# Remote SSH server port
# A string
#extcap._wifidump_wrapped.remoteport: 

# Remote SSH server username
# A string
#extcap._wifidump_wrapped.remoteusername: 

# Remote SSH server password
# Password (never stored on disk)
#extcap._wifidump_wrapped.remotepassword: 

# Path to SSH private key
# A string
#extcap._wifidump_wrapped.sshkey: 

# SSH key passphrase
# Password (never stored on disk)
#extcap._wifidump_wrapped.sshkeypassphrase: 

# Support SHA-1 keys (deprecated)
# A string
#extcap._wifidump_wrapped.sshsha1: 

# Remote interface
# A string
#extcap._wifidump_wrapped.remoteinterface: auto

# Remote channel
# A string
#extcap._wifidump_wrapped.remotechannelfrequency: 

# Remote channel width
# A string
#extcap._wifidump_wrapped.remotechannelwidth: 

# Remote capture filter
# A string
#extcap._wifidump_wrapped.remotefilter: 

# Frames to capture
# A string
#extcap._wifidump_wrapped.remotecount: 

# Set the log level
# A string
#extcap._wifidump_wrapped.loglevel: 

# Use a file for logging
# A string
#extcap._wifidump_wrapped.logfile: 

# Remote SSH server address
# A string
#extcap.sshdump.remotehost: 

# Remote SSH server port
# A string
#extcap.sshdump.remoteport: 22

# Remote SSH server username
# A string
#extcap.sshdump.remoteusername: 

# Remote SSH server password
# Password (never stored on disk)
#extcap.sshdump.remotepassword: 

# Path to SSH private key
# A string
#extcap.sshdump.sshkey: 

# SSH key passphrase
# Password (never stored on disk)
#extcap.sshdump.sshkeypassphrase: 

# ProxyCommand
# A string
#extcap.sshdump.proxycommand: 

# Support SHA-1 keys (deprecated)
# A string
#extcap.sshdump.sshsha1: 

# Remote interface
# A string
#extcap.sshdump.remoteinterface: 

# Remote capture command selection
# A string
#extcap.sshdump.remotecapturecommandselect: 

# Remote capture command
# A string
#extcap.sshdump.remotecapturecommand: 

# Gain capture privilege on the remote machine
# A string
#extcap.sshdump.remotepriv: 

# Privileged user name for sudo or doas
# A string
#extcap.sshdump.remoteprivuser: 

# No promiscuous mode
# A string
#extcap.sshdump.remotenoprom: 

# Remote capture filter
# A string
#extcap.sshdump.remotefilter: not ((host fe80::a8ca:41ff:fe1c:3663 or host fe80::ecee:eeff:feee:eeee or host fe80::c53f:be4e:e3fe:310b or host 192.168.28.33) and port 22)

# Packets to capture
# A string
#extcap.sshdump.remotecount: 0

# Set the log level
# A string
#extcap.sshdump.loglevel: 

# Use a file for logging
# A string
#extcap.sshdump.logfile: 

# Remote SSH server address
# A string
#extcap.wifidump.remotehost: 

# Remote SSH server port
# A string
#extcap.wifidump.remoteport: 

# Remote SSH server username
# A string
#extcap.wifidump.remoteusername: 

# Remote SSH server password
# Password (never stored on disk)
#extcap.wifidump.remotepassword: 

# Path to SSH private key
# A string
#extcap.wifidump.sshkey: 

# SSH key passphrase
# Password (never stored on disk)
#extcap.wifidump.sshkeypassphrase: 

# Support SHA-1 keys (deprecated)
# A string
#extcap.wifidump.sshsha1: 

# Remote interface
# A string
#extcap.wifidump.remoteinterface: auto

# Remote channel
# A string
#extcap.wifidump.remotechannelfrequency: 

# Remote channel width
# A string
#extcap.wifidump.remotechannelwidth: 

# Remote capture filter
# A string
#extcap.wifidump.remotefilter: 

# Frames to capture
# A string
#extcap.wifidump.remotecount: 

# Set the log level
# A string
#extcap.wifidump.loglevel: 

# Use a file for logging
# A string
#extcap.wifidump.logfile: 
